* {
  box-sizing: inherit;
}

@font-face {
  font-family: "Bad Script";
  font-weight: 400;
  src: local("Bad Script");
  src: url(../fonts/BadScript-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: local("Open Sans");
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: local("Open Sans");
  src: url(../fonts/OpenSans-Bold.ttf);
}

html {
  box-sizing: border-box;
}

body {
  font-family: "open sans";
  background: #fff1f8;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.woman {
  background-color: #fff1f8;
}

.man {
  background-color: #eff9fe;
}
button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header {
  padding: 28px 0;
  background: #ffffff;
  box-shadow: 0px 1px 20px rgba(72, 3, 38, 0.07);
  position: relative;
  z-index: 1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.header__button-change {
  width: 300px;
  height: 65px;
  background: #c300c7;
  border-radius: 30px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin-right: 30px;
}

.woman .header__button-change {
  background: #c300c7;
}
.man .header__button-change {
  background: #1178b2;
}

.header__button-change:last-child {
  margin-right: 0;
}

.header__button-gender {
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px;
  margin-right: 20px;
}

.header__button-gender:last-child {
  margin-right: 0;
}

.header__button-gender_man {
  background-image: url(../img/ri_men-line.svg);
}

.header__button-gender_woman {
  background-image: url(../img/ri_women-line.svg);
}
.man .header__button-gender_man {
  border-color: #1178b2;
}
.woman .header__button-gender_woman {
  border-color: #c300c7;
}
.card {
  flex-grow: 1;
  padding: 32px 0 15px;
  display: flex;
  align-items: center;
}
.card__container {
  display: flex;
}

.card__wrapper {
  position: relative;
  margin: auto;
  display: flex;
  box-shadow: 0px 0px 50px rgba(96, 4, 50, 0.23);
  font-size: 3px;
}

.card__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: max(3em, min(calc(100vw * 3 / 140), 6em));

  line-height: 1.8;
}
.woman .card__text {
  font-family: "Bad Script";
}

.man .card__text {
  font-family: "Open Sans";
  font-weight: 700;
}

@media (max-width: 880px) {
  .container {
    padding: 0 10px;
  }
}

.header__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.header__button-change {
  width: 220px;
  height: 45px;
  font-size: 14px;
  margin-right: 0;
}
.header__button-gender {
  width: 40px;
  height: 40px;
  background-size: 30px;
  margin-right: 0;
}

.footer {
  padding: 17px 0;
}
.woman .footer__link {
  color: #c300c7;
}
.man .footer__link {
  color: #1178b2;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  display: flex;
  gap: 16px;
}

@media (max-width: 480px) {
  .footer__contacts {
    order: 1;
  }
  .footer__container {
    flex-direction: column;
    gap: 30px;
  }
}

.footer__link {
  transition: opacity 0.3s ease-in;
}

.footer__link:hover {
  opacity: 0.5;
}
